<a href="https://colab.research.google.com/github/EgarCpE/CPE009A/blob/main/LOOP_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOP statement

Example 1

In [3]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Example 2

In [6]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

Example 3

In [11]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Example 4

In [13]:
for x in "week":
  print(x)

w
e
e
k

The Range () function

In [18]:
for x in range (6):
  print(x)

for x in range (2,6):
  print(x)

0
1
2
3
4
5
2
3
4
5

In [24]:
for x in range (2,6,2):
  print(x)

2
4

Nested Loop

In [26]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective: #outer loop
  for y in fruits: #inner loop
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

example 5 while loop

In [28]:
i = 1
while i < 6:
  print(i)
  i += 1

  #i = i+1 assignment operator

1
2
3
4
5

The break statement

In [31]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

The continue statement

In [45]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [41]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    print(i)
    continue

3

the else statement

In [43]:
i = 1
while i < 6:
  print(i)
  i +=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Try 1

In [51]:
number = ['1','2','3','4','5','6','7','8','9','10']
greetings = ["Hello"]
for x in greetings: #outer loop
  for y in number: #inner loop
    print(x,y)

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [55]:
Try 2

SyntaxError: invalid syntax (ipython-input-2563147009.py, line 1)

In [60]:
i = 3
while i < 10:
  print(i)
  i += 1

  #+5 points

3
4
5
6
7
8
9