<a href="https://colab.research.google.com/github/EgarCpE/CPE009A/blob/main/Phyton_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
if 5 > 2:
  print("Gusto ko na agad umuwi")

Gusto ko na agad umuwi

In [5]:
#this is a comment
print("Hello, World!")

Hello, World!

In [7]:
#This is my Name
print("Tensionado, nagulat din ako nung malaman, na hindi lang pala ako yung nang hinayang, nung nag away tayo non at na tuluyan.")

Tensionado, nagulat din ako nung malaman, na hindi lang pala ako yung nang hinayang, nung nag away tayo non at na tuluyan.

In [11]:
x = 1
a, b = 0,-1
a,b,c = 0,-1,2
b = "Sally" #this is a type of string

In [12]:
print (b)

Sally

In [13]:
print (x)

1

In [14]:
b="sally" #this is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

In [15]:
b="sally" #this is a type of string
print(b)
b=int(4)
print(b)

b=float(4)
print(b)

sally
4
4.0

In [16]:
x = 5
y = "John"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [18]:
x = 5
y = "John"
z = 'a'

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'str'>

In [19]:
y = "John"
y = 'John'

In [21]:
print(y)
print(y)

John
John

In [22]:
a = 4
A = "Sally"

In [24]:
print(a)
print(A)

4
Sally

In [27]:
x,y,z = "one", "two", "three"
print(x,y,z)

one two three

In [29]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

In [32]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

In [33]:
x = "enjoying"
print("Phyton programming is" + x)

Phyton programming isenjoying

In [34]:
x = " enjoying"
print("Phyton programming is" + x)

Phyton programming is enjoying

In [36]:
x = "Phyton is "
y = "Enjoying"
z = x+y
print(z)

Phyton is Enjoying

In [37]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = (x+y)
sum

8

8

In [39]:
x = 5
y = 3
print(x+y)

x = 5
y = 3
sum = (x+y)
sum

x = 5
y = 3
print(x-y)

x = 5
y = 3
subtract = (x-y)
subtract

x = 5
y = 3
print(x*y)

x = 5
y = 3
multiply = (x*y)
multiply

x = 5
y = 3
print(x/y)

x = 5
y = 3
divide = (x/y)
divide

x = 5
y = 3
print(x&y)

x = 5
y = 3
modulo = (x%y)
modulo

x = 5
y = 3
print(x**y)

x = 5
y = 3
exponation = (x**y)
exponation

x = 5
y = 3
print(x//y)

x = 5
y = 3
floorDivision = (x//y)
floorDivision

8
2
15
1.6666666666666667
1
125
1

1

In [40]:
x + =3
print (x)

SyntaxError: invalid syntax (ipython-input-4109037248.py, line 1)

In [41]:
s = 1

In [43]:
s +=3
print(s)

4

In [48]:
s -=3
print(s)
s *=3
print(s)
s //=3
print(s)
s %=3
print(s)
s //=3
print(s)
s **=3
print(s)
s = int(s)
s &=3
print(s)
s |=3
print(s)
s ^=3
print(s)
s >>=3
print(s)
s <<=3
print(s)

-3.0
-9.0
-3.0
0.0
0.0
0.0
0
3
0
0
0

In [49]:
s -=3
print(s)
s *=3
print(s)
s /=3
print(s)
s %=3
print(s)
s //=3
print(s)
s **=3
print(s)
s &=3
print(s)
s |=3s
print(s)
s ^=3
print(s)
s >>=3
print(s)
s <<=3
print(s)

SyntaxError: invalid decimal literal (ipython-input-3954452994.py, line 15)

In [50]:
t = 1
u = 2

In [51]:
print (t==u)
print (t!=u)
print (t>u)
print (t<u)
print (t>=u)
print (t<=u)

False
True
False
True
False
True

In [52]:
x = 10
(x < 4 and x <10)

False

In [53]:
x = 10
(x < 5 or x <4)

False

In [54]:
x = 10
not(x < 5 and x <10)

True

In [55]:
x is y

False

In [56]:
x is not y

True

In [57]:
v = 2

In [60]:
v << 2

8

In [62]:
1&2

0

In [63]:
15&15

15